<a href="https://colab.research.google.com/github/IdhamAbidinKaisilay/my_portfolio/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import pandas as pd

In [106]:
path = '/content/drive/MyDrive/Data Analyst 2025 + SQL + Excel/Portfolio/data/data_dummy_unclean.csv'
df = pd.read_csv(path)
df

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,user32@example.com;77969,PhD
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,user84@example.com;48044,Master
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,user1@example.com;12695,PhD
3,4,40,male,50000.0,2020-01-04,Tarakan,70,user99@example.com;74820,PhD
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,user100@example.com;45920,Bachelor
...,...,...,...,...,...,...,...,...,...
98,99,30,M,110000.0,2020-04-08,Tarakan,200,user89@example.com;92798,PhD
99,100,60,M,30000.0,2020-04-09,Balikpapan,150,user32@example.com;74820,PhD
100,90,40,F,70000.0,2020-03-30,Pontianak,50,user96@example.com;58984,Master
101,59,45,F,50000.0,2020-02-28,NaN,100,user69@example.com;64886,Master
102,35,45,F,NaN,2020-02-04,Tarakan,90,user28@example.com;54131,Master

#Cleaning Data

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               103 non-null    int64
 1   Age              103 non-null    int64
 2   Gender           103 non-null    object
 3   Income           87 non-null     float64
 4   Date of Joining  103 non-null    object
 5   City             89 non-null     object
 6   Happiness Score  103 non-null    int64
 7   Email_POS        103 non-null    object
 8   Education        103 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.4+ KB

In [108]:
# rubah tipe data 'Date of Joining' ke datetime (sebelumnya bertipe object)
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], errors='coerce')

In [109]:
df.info() # tipe data 'Date of Joining'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               103 non-null    int64
 1   Age              103 non-null    int64
 2   Gender           103 non-null    object
 3   Income           87 non-null     float64
 4   Date of Joining  103 non-null    datetime64[ns]
 5   City             89 non-null     object
 6   Happiness Score  103 non-null    int64
 7   Email_POS        103 non-null    object
 8   Education        103 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 7.4+ KB

In [110]:
# cek nilai null
df.isnull().sum()

ID                  0
Age                 0
Gender              0
Income             16
Date of Joining     0
City               14
Happiness Score     0
Email_POS           0
Education           0
dtype: int64

In [111]:
# ada 2 kolom yang memiliki null, 'Income' & 'City'
# cek nilai null di 'Income'
df[df['Income'].isnull()]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
5,6,35,male,NaN,2020-01-06,Palangkaraya,150,user29@example.com;95305,PhD
10,11,25,female,NaN,2020-01-11,NaN,150,user18@example.com;76557,PhD
20,21,25,M,NaN,2020-01-21,taranakan,50,user97@example.com;94654,Master
26,27,40,male,NaN,2020-01-27,Palangkaraya,90,user10@example.com;58984,Master
28,29,30,female,NaN,2020-01-29,Tarakan,150,user35@example.com;97313,PhD
29,30,30,Male,NaN,2020-01-30,NaN,100,user41@example.com;47065,PhD
30,31,60,female,NaN,2020-01-31,Samarinda,50,user11@example.com;74925,PhD
34,35,45,F,NaN,2020-02-04,Tarakan,90,user28@example.com;54131,Master
53,54,50,female,NaN,2020-02-23,Samarinda,100,user50@example.com;20627,Master
73,74,45,Male,NaN,2020-03-14,balikpapan,100,user96@example.com;47065,Master
74,75,30,Female,NaN,2020-03-15,NaN,200,user7@example.com;18792,PhD
76,77,50,female,NaN,2020-03-17,Palangkaraya,200,user9@example.com;97538,PhD
77,78,40,Male,NaN,2020-03-18,Palangkaraya,80,user84@example.com;92386,Master
85,86,45,Male,NaN,2020-03-26,Balikpapan,90,user60@example.com;61214,Bachelor
88,89,50,male,NaN,2020-03-29,Banjarmasin,70,user78@example.com;33247,Bachelor
102,35,45,F,NaN,2020-02-04,Tarakan,90,user28@example.com;54131,Master

In [112]:
# perbaiki nilai null di 'Income'
df['Income'].fillna(0, inplace=True)

/tmp/ipython-input-1025994646.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(0, inplace=True)

In [113]:
df.isnull().sum() #cek nilai null di 'Income'

ID                  0
Age                 0
Gender              0
Income              0
Date of Joining     0
City               14
Happiness Score     0
Email_POS           0
Education           0
dtype: int64

In [114]:
# cek nilai null di 'City'
df[df['City'].isnull()]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
10,11,25,female,0.0,2020-01-11,NaN,150,user18@example.com;76557,PhD
27,28,50,M,30000.0,2020-01-28,NaN,100,user37@example.com;75725,Bachelor
29,30,30,Male,0.0,2020-01-30,NaN,100,user41@example.com;47065,PhD
39,40,30,M,50000.0,2020-02-09,NaN,100,user54@example.com;78148,Master
41,42,50,Male,90000.0,2020-02-11,NaN,60,user90@example.com;86820,Bachelor
43,44,30,M,90000.0,2020-02-13,NaN,80,user49@example.com;88953,Master
50,51,60,male,110000.0,2020-02-20,NaN,150,user63@example.com;12747,Master
58,59,45,F,50000.0,2020-02-28,NaN,100,user69@example.com;64886,Master
72,73,60,female,90000.0,2020-03-13,NaN,150,user61@example.com;86820,Master
74,75,30,Female,0.0,2020-03-15,NaN,200,user7@example.com;18792,PhD
79,80,60,male,50000.0,2020-03-20,NaN,70,user32@example.com;35658,PhD
82,83,45,F,50000.0,2020-03-23,NaN,100,user17@example.com;87189,Bachelor
95,96,35,female,110000.0,2020-04-05,NaN,150,user49@example.com;33483,PhD
101,59,45,F,50000.0,2020-02-28,NaN,100,user69@example.com;64886,Master

In [115]:
# perbaiki nilai null di 'City'
df['City'].fillna('Unknown', inplace=True)

/tmp/ipython-input-4291712016.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('Unknown', inplace=True)

In [116]:
df.isnull().sum() #cek nilai null di 'City'

ID                 0
Age                0
Gender             0
Income             0
Date of Joining    0
City               0
Happiness Score    0
Email_POS          0
Education          0
dtype: int64

In [117]:
df.describe().round(2)

,ID,Age,Income,Date of Joining,Happiness Score
count,103.00,103.00,103.00,103,103.00
mean,50.82,42.77,56019.42,2020-02-19 19:34:22.135922432,101.75
min,1.00,25.00,-10000.00,2020-01-01 00:00:00,50.00
25%,26.50,30.00,30000.00,2020-01-26 12:00:00,70.00
50%,51.00,40.00,50000.00,2020-02-20 00:00:00,90.00
75%,75.50,50.00,90000.00,2020-03-15 12:00:00,150.00
max,100.00,70.00,110000.00,2020-04-09 00:00:00,200.00
std,28.90,12.71,37346.81,NaN,43.82

In [118]:
filter_income = df['Income'] < 0
df[filter_income]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
42,43,40,Female,-10000.0,2020-02-12,Pontianak,150,user98@example.com;11016,Bachelor
45,46,40,Male,-10000.0,2020-02-15,Palangkaraya,50,user39@example.com;12695,Bachelor

In [119]:
index_income = df[filter_income].index
df.loc[index_income, 'Income'] = 0

In [120]:
df[filter_income]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Email_POS,Education
42,43,40,Female,0.0,2020-02-12,Pontianak,150,user98@example.com;11016,Bachelor
45,46,40,Male,0.0,2020-02-15,Palangkaraya,50,user39@example.com;12695,Bachelor

In [121]:
df[['Email', 'Pos']] = df['Email_POS'].str.split(';', expand=True)
df.drop('Email_POS', axis=1, inplace=True)

In [122]:
df

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Education,Email,Pos
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,PhD,user32@example.com,77969
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,Master,user84@example.com,48044
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,PhD,user1@example.com,12695
3,4,40,male,50000.0,2020-01-04,Tarakan,70,PhD,user99@example.com,74820
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,Bachelor,user100@example.com,45920
...,...,...,...,...,...,...,...,...,...,...
98,99,30,M,110000.0,2020-04-08,Tarakan,200,PhD,user89@example.com,92798
99,100,60,M,30000.0,2020-04-09,Balikpapan,150,PhD,user32@example.com,74820
100,90,40,F,70000.0,2020-03-30,Pontianak,50,Master,user96@example.com,58984
101,59,45,F,50000.0,2020-02-28,Unknown,100,Master,user69@example.com,64886
102,35,45,F,0.0,2020-02-04,Tarakan,90,Master,user28@example.com,54131

In [123]:
df[df.duplicated()]

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Education,Email,Pos
100,90,40,F,70000.0,2020-03-30,Pontianak,50,Master,user96@example.com,58984
101,59,45,F,50000.0,2020-02-28,Unknown,100,Master,user69@example.com,64886
102,35,45,F,0.0,2020-02-04,Tarakan,90,Master,user28@example.com,54131

In [124]:
df = df.drop_duplicates()

In [125]:
df

,ID,Age,Gender,Income,Date of Joining,City,Happiness Score,Education,Email,Pos
0,1,30,Female,70000.0,2020-01-01,Balikpapan,70,PhD,user32@example.com,77969
1,2,25,male,30000.0,2020-01-02,Palangkaraya,150,Master,user84@example.com,48044
2,3,45,Female,110000.0,2020-01-03,Palangkaraya,50,PhD,user1@example.com,12695
3,4,40,male,50000.0,2020-01-04,Tarakan,70,PhD,user99@example.com,74820
4,5,40,Male,70000.0,2020-01-05,balikpapan,100,Bachelor,user100@example.com,45920
...,...,...,...,...,...,...,...,...,...,...
95,96,35,female,110000.0,2020-04-05,Unknown,150,PhD,user49@example.com,33483
96,97,35,M,50000.0,2020-04-06,balikpapan,80,Master,user92@example.com,35658
97,98,60,F,30000.0,2020-04-07,Balikpapan,150,Master,user10@example.com,65591
98,99,30,M,110000.0,2020-04-08,Tarakan,200,PhD,user89@example.com,92798
99,100,60,M,30000.0,2020-04-09,Balikpapan,150,PhD,user32@example.com,74820